*{
  box-sizing: border-box;
  --xxl-size : calc(1vw + 1.9rem);
  --xl-size : calc(1vw + 1.3rem);
  --l-size : calc(1vw + 0.8rem);
  --s-size : calc(1vw + 0.085rem);
}
html{
  scroll-behavior: smooth;
  scroll-padding: 100px;
}
body{
  scroll-snap-align: start;
  background-color: hsl(0, 0%, 90%);
  margin: 0px;
}
header{
  background-color: hsl(0, 0%, 90%);
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: space-around;
}
header h1{
  font-size: var(--l-size);
  flex-basis:55%;
  margin-left: 70px;
}
@media (max-width: 1366px){
  header h1{
      font-size: calc(1vw + 1rem);
  }
}
header ul{
  font-size: var(--s-size);
  width: 500px;
  list-style-type: none;
  flex-basis: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header ul li a{
  color: black;
  text-decoration: none;
}
@media (max-width: 650px) {
  header{
    justify-content: center;
    align-items: center;
  }
  header ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2{
    margin-top: 130px;
  }
}
@media (max-width: 600px) {
  header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header h1{
    margin-bottom: 0px;
    margin-left: 0px;
  }
  header ul{
    margin-top: 10px;
  }
  h2{
    margin-top: 130px;
  }
}
@media (min-width: 651px) {
  h2{
    margin-top: 65px;
  }
}
h2{
  font-size: var(--l-size);
  text-align: center;
}
@media (max-width: 1366px){
  header h2{
      font-size: calc(1vw + 1rem);
  }
}
#topForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#topForm input[type='email']{
  border-radius: 5px;
  width: 255px;
  height: 30px;
}
#topForm input[type='submit']{
  border-radius: 5px;
  width: 140px;
  height: 30px;
  font-weight: bolder;
  background-color: yellow;
  font-size: var(--s-size);
  margin-top: 10px;
}
#topForm input[type='submit']:hover{
  background-color: orange;
}
.mainDiv{
  margin: auto;
  margin-bottom: 70px;
  max-width: 1000px;
  display: flex;
}
.mainDivLogo{
  flex-basis: 20%;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--xxl-size);
}
.mainDivText{
  flex-basis: 80%;
}
@media (max-width: 550px) {
  .mainDivLogo{
    display: none;
  }
  .mainDivText{
    flex-basis: 100%;
  }
}
.mainDivTextStrong strong{
  font-size: var(--l-size);
}
@media (max-width: 1366px){
  .mainDivTextStrong strong{
      font-size: calc(1vw + 1rem);
  }
}
.mainDivTextStrong{
  margin-bottom: 5px;
}
.mainDivTextLight{
  font-size: var(--s-size);
  margin-top: 0px;
}
@media (max-width: 550px) {
  .mainDiv{
    text-align: center;
    width: 95%;
  }
}
#videoDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
}
section{
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin-bottom: 40px;
}
.pricingDiv{
  border: solid 1.5px;
  border-radius: 5px;
  flex-basis: 31%;
  text-align: center;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.PricingDivheader{
  background-color: hsl(0,0%,80%);
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--s-size);
  font-weight: bold;
}
.pricingDivPrice{
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--l-size);
}
@media (max-width: 1366px){
  .pricingDivPrice{
      font-size: calc(1vw + 1rem);
  }
}
.pricingDivMain{
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricingDivFooter{
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricingDivFooter form input[type='submit']{
  background-color: yellow;
  height: 40px;
  width: 100px;
  font-size: var(--s-size);
  border-radius: 5px;
}
.pricingDivFooter form input[type='submit']:hover{
  background-color: orange;
}
@media (max-width:800px) {
  section{
    flex-direction: column;
    height: 1000px;
  }
  .pricingDiv{
    width: 300px;
  }
}
footer{
  background-color: hsl(0,0%,80%);
  border-radius: 5px;
  max-width: 1000px;
  height: 80px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
footer ul{
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-right: 30px;
  list-style-type: none;
  margin-bottom: 0px;
  font-size: var(--s-size);
}
footer ul li a{
  color: black;
  text-decoration: none;
}
footer p{
  color: hsl(0,0%,20%);
  margin-right: 30px;
  margin-top: 10px;
  font-size: var(--s-size);
}
@media (max-width: 1366px){
  footer ul , footer p , .pricingDivFooter form input[type='submit'] , .PricingDivheader ,
  .mainDivTextLight , #topForm input[type='submit'] , header ul{
      font-size: 1rem;
  }
}