*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (min-width: 1366px){
    *{
        font-size: calc(1vw + 0.085rem);
    }
}
@media (max-width: 1366px){
    *{
      font-size: 1rem;
    }
}
body{
  background-color: gray;
  text-align: justify;
}
h1{
  font-size: calc(1vw + 1.9rem);
  text-align: center;
}
h2{
  font-size: calc(1vw + 1.3rem);
  text-align: center;
}
@media (min-width: 1366px){
    h3{
        font-size: calc(1vw + 0.8rem);
    }
}
@media (max-width: 1366px){
    h3{
        font-size: calc(1vw + 1rem);
    }
}

header{
  text-align: center;
}
main{
  background-color: white;
  text-align: center;
  margin: 1.5%;
  padding: 2% 0 2% 0;
}
main img{
  max-width: 100%;
  height: auto;
}
section{
  max-width: 50%;
  min-width: 350px;
  background-color: aqua;
  margin: auto;
  padding: 2% 0 2% 0;
}


section ul{
  padding: 7%;
}
section ul li{
  padding-top: 3%;
}
section q{
  display: block;
  padding: 4%;
}
footer{
  text-align: center;
  padding: 2% 0 2% 0;
  font-size: calc(1vw + 0.8rem);
}
